@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: white;
    background-color: #292929;
}

body a {
    color: #00c800;
}

body a:hover {
    opacity: 0.8;
}

body button {
    background-color: #00c800;
    color: white;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

body button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.content {
    margin: 10px;
}

th {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    text-align: center;
    background-color: black;
    height: 150px;
    width: 100%;
}